.list
{
  background-color: orange;
  width: 300px;
  border-radius: 5px;
  margin: 15px auto;
  color: white;
  height: 60px;
}

.list p
{
  padding: 20px 15px;
  color: white;
  position: relative;
}

.list p span
{
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.ficon
{

  margin: 0 5px;
}

.list p input
{
  outline: none;
  border:  0;
  color: white;
  background-color: transparent;
  font-size: 16px;
}